@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

#footer {
  background-color: #4b4d4e !important;
}

.navbar {
  background-color: #5d5f60 !important;
}

.navbar img {
  width: 90px;
  height: 30px;
}

#logo img {
  width: 90px;
  height: 30px;
}

.fixed-bottom.nav-item {
  font-size: 24px;
}

.fixed-bottom {
  background-color: #5d5f60 !important;
}

.fas.fa-exclamation-triangle {
  color: #6fb8f8;
}

.nav-item a:not(.dropdown-item) {
  color: white !important;
  font-size: 16px;
}

.navbar form {
  background-color: #5d5f60;
}

.form-inline {
  border: 0;
  outline: 0;
}

.form-control {
  width: 130px;
  border: 0;
  outline: 0;
  text-align: center;
}

.form-control input {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.form-control input:focus {
  border: 0;
  outline: 0;
}

.form-control:hover {
  background-color: #444648;
  border: 0;
  outline: 0;
}

.fas.fa-search {
  color: #444648;
}
