@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  height: auto !important;
  overflow-y: scroll !important;
}

.container.content {
  width: 920px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 12px;
}

.focus-bar-link a {
  font-size: 13px;
  text-decoration: underline;
}

.focus-bar-article-link a {
  font-size: 13px;
  font-weight: 800;
  color: black;
}

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  width: 320px;
  text-overflow: ellipsis;
}

#footer {
  background-color: #31363b !important;
}

.form-control.footer {
  background-color: #5d5f60;
}

.navbar {
  background-color: #5d5f60 !important;
}

.navbar img {
  width: 70px;
  height: 25px;
}

#logo img {
  width: 90px;
  height: 30px;
}
#focus-bar img {
  width: 120px;
  height: 70px;
}

.nav-item-square {
  width: 80px;
  height: 80px;
}

.fixed-bottom.nav-item {
  font-size: 24px;
}

.fixed-bottom {
  background-color: #5d5f60 !important;
}

.fas.fa-exclamation-triangle {
  color: #6fb8f8;
}

.nav-item a:not(.dropdown-item) {
  color: white !important;
  font-size: 16px;
}

.navbar form {
  background-color: #5d5f60;
}

.form-control {
  border: 0;
  outline: 0;
  width: 90px;
}

.form-inline {
  border: 0;
  outline: 0;
  width: 70px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.form-control input:focus {
  border: 0;
  outline: 0;
}

.form-control:hover {
  background-color: #444648;
  border: 0;
  outline: 0;
}

.form-control button:hover {
  background-color: #444648;
  border: 0;
  outline: 0;
}

.fas.fa-search {
  color: #a1a0a0;
  background-color: #5d5f60;
}

.fas.fa-search:hover {
  background-color: #444648;
}

.fas.fa-arrow-down {
  background-color: #8c8a89;
  font-size: 13px;
}

.fas.fa-arrow-down:hover {
  background-color: #444648;
}

.icons {
  color: #d5250b;
}

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 740px) {
  html,
  body,
  .container.content {
    height: 100vh;
  }
}
